{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!
{% endblock %}

{% block body %}
	{% for animal in animaux %}
		<a href="#">{{ animal.name}}</a>
		
	{% endfor %}
{% endblock %}
